<div id="houseding-stats-graphs"></div>
<script type="text/javascript">// <![CDATA[
  if ( ! _houseding_graphs) var _houseding_graphs = [];
      _houseding_graphs.push({
        'target'         : 'houseding-stats-graphs',
        'width'          : '600',
        'height'         : '260',
        'report_type'    : 'city',
        'building_type'  : '<%= propertyType %>',
        'city'           : '<%= city %>',
        'state'          : '<%= state %>',
        'country'        : '<%= country %>',
        'graph_output'   : '<%= graphOutput %>',
        'graph_type'     : 'line',
        'color1'         : '3c5987',
        'color2'         : '94082f',
        'time_span'      : '12 months'
      });
      (function(d, t) {
      var g = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
      g.src = '<%= baseUrl %>/js/widget.js';
      s.parentNode.insertBefore(g, s)
      })(document, 'script')
// ]]></script>
